*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
/netty-http-client/target/
/netty-http-test-harness/target/
/netty-http-client-tests/target/
/netty-http-client/nbproject/
/tiny-http-server/target/